/*Colors*/
/*#444444 dark gray*/
/*#FAF7ED light tan*/
/*#ffffff bright white*/
/*#F6F5F1 off white*/


/* NAVBAR CUSTOMIZATIONS */
.navbar-nav {
    margin-left: auto;
}

.navbar-toggler {
    margin-left: auto;
}

.navbar-dark {
    background-color: #444444;
    color: #ffffff;
}

.navbar-custom{
    background-color: #444444;
}

.nav-link {
    color: #F6F5F1;
    font-family: Lora;
}

.nav-link:hover {
    color: #e5d7a0;
    font-family: Lora;
}

/* SECTION COLORS */
.bg-custom-dark {
    color: #F6F5F1;
    background-color: #444444;
}

.bg-custom-medium {
    color: #444444;
    background-color: #FAF7ED;
}

.bg-custom-light {
    color: #444444;
    background-color: #ffffff;
}

/* SPLASH CUSTOMIZATIONS */
html,
body,
header,
#splash {
    height: 95%;
}

.splash-image {
    text-align: center;
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 10%;
    right: 10%;
}

/* FONT STYLES */
body {
    font-family: 'Open Sans';
    font-size: 14px;
}

h1,h2 {
    font-family: Lora;
}

h1 {
    font-size: 50px;
    font-weight: 600;
}

h2 {
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 20px;
}

h3 {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 800;
    padding-bottom: 4px;
    padding-top: 10px;
}

/* SECTION CUSTOMIZATIONS */
.container-sm {
    max-width: 1000px;
    padding-left: 100px;
}

.thanks {
    text-align: center;
}

.p-4 {
    padding-top: 60px!important;
    padding-bottom: 60px!important;
}

.brand-img {
  width: 100%;
  height: 100%;
}


/* BUTTONS CUSTOMIZATIONS */
.btn-primary {
    margin: 4px;
    color: #fff;
    background-color: #444444;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    border-color: #444444;

}


.btn-primary:hover {
    margin: 4px;
    color: #fff;
    background-color: #000;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    border-color: #444444;
}
